.banner {
  width: 100%;
  height: 100vh;
  min-height: 460px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: $desk) {
    min-height: 502px;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.one {
  @media (min-width: $desk) {
    display: none;
  }
}

.two {
  @media (max-width: $mobile) {
    display: none;
  }
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  margin-left: 40px;
  margin-right: 40px;

  @media (min-width: $desk) {
    height: 251px;
    margin: 0;
    align-items: flex-start;
    width: 80%;
    margin-top: 93px;
  }

  h1 {
    text-align: center;
    font: normal normal bold 24px/28px Helvetica;
    letter-spacing: 0px;
    color: #ee811f;
    opacity: 1;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.45));

    @media (min-width: $desk) {
      text-align: start;
      width: 292px;
    }
  }
  svg {
    width: 113px;
    height: 120px;
    margin-bottom: 16px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.45));

    @media (min-width: $desk) {
      margin-bottom: 20px;
    }
  }
  p {
    margin-top: 8px;
    text-align: center;
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.45));

    @media (min-width: $desk) {
      text-align: start;
      font-size: 20px;
      margin-top: 10px;
      width: 304px;
    }
  }
}

.form {
  width: 80%;
  height: 104px;
  margin-left: 16px;
  margin-right: 16px;
  background: #ababab66 0% 0% no-repeat padding-box;
  border: 5px solid #ffffff;
  opacity: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 48px;

  @media (min-width: $desk) {
    height: 48px;
    flex-direction: row;
    margin-bottom: 108px;
    max-width: 590px;
  }
}

.party {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;

  @media (min-width: $desk) {
    width: auto;
  }
}

.box-check {
  display: flex;

  @media (min-width: $desk) {
    width: auto;
    flex-direction: column;
    margin-left: 20px;
  }
}

.check {
  text-align: left;
  font: normal normal normal 14px/16px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;

  span {
    margin-left: 4px;
    margin-right: 4px;
  }
}
