.button {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: -5px 5px 10px #00000029;
  border-radius: 8px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/16px
    var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ee811f);
  text-align: left;
  font: normal normal bold 18px/16px Helvetica;
  font-size: max(16px, min(18px, 2vw));
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  padding: 12px;
  border-color: #ee811f;
  background-color: #ee811f;
  color: #fff;
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: #ee811f;
    border-color: #ee811f;
    box-shadow: none;
  }
}

.modal {
  position: absolute;
  inset: 100px;
  border: 1px solid rgb(85, 85, 85);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  background-color: rgba(85, 85, 85, 0.8);

  @media (max-width: $mobile) {
    inset: 30px;
  }
}

.div-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  @media (min-width: $mobile) {
    margin-bottom: 100px;
  }

  h1 {
    width: 100%;
    text-align: center;
    font: normal normal bold 18px/21px Helvetica;
    font-size: max(18px, min(21px, 2vw));
    letter-spacing: 0px;
    color: #ee811f;
    opacity: 1;
  }

  button {
    width: 32px;
    height: 32px;
    border: none;
    background-color: #ee811f;
    border-radius: 50%;

    svg {
      width: 16px;
      height: 32px;
      object-fit: cover;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $mobile) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.box-card {
  margin-bottom: 8px;
}

.box-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile) {
    margin-left: 32px;
  }
}

.box-form input {
  margin-bottom: 16px;
}

.title-calendar {
  text-align: start;
  font: normal normal bold 18px Helvetica;
  font-size: max(14px, min(16px, 2vw));
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
}

.box-calendar {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.title-time {
  text-align: start;
  font: normal normal bold 18px Helvetica;
  font-size: max(14px, min(16px, 2vw));
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
  margin-bottom: 8px;
}

.box-time {
  label {
    text-align: start;
    font: normal normal normal 18px Helvetica;
    font-size: max(14px, min(16px, 2vw));
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    margin-right: 12px;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }
  }
}

.textarea {
  width: 100%;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #242021;
  border-radius: 10px;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 20px;

  &::placeholder {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    font: normal normal normal 14px/16px Helvetica;
    font-size: max(14px, min(16px, 2vw));
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
  }
}

.box-button {
  display: flex;
  flex-direction: row-reverse;
}
