.message {
  text-align: center;
  font: normal normal normal 11px Helvetica;
  font-size: max(10px, min(12px, 2vw));
  letter-spacing: 0px;
  color: #ff2f0e;
  opacity: 1;

  @media (max-width: $desk) {
    font-size: 10px;
  }
}
