<h1 style="color:#f0801f;font-family: Helvetica;font-size: 1.25rem;font-style: normal;font-weight: 700;line-height: normal;margin-bottom: 1.31rem;">Oi, #{name}!</h1>
<p style="color: #242021;font-family: Helvetica;font-size: 0.875rem;font-style: normal;font-weight: 400;line-height: normal;">Sua conta no GVLar imoveis está quase pronta. Para ativá-la, click no botão abaixo</p>

<br>

<a href="/verificar/email/#{token}" style="display: flex;width: 12.3125rem;height: 1.875rem;border-radius: 1.5625rem;border: 3px solid #555555;background: #f0801f;color: #ffffff;font-family: Helvetica;font-size: 0.875rem;font-style: normal;font-weight: 700;line-height: normal;align-items: center;justify-content: center;text-decoration: none;margin-bottom: 1.31rem; align-items: center;justify-content: center;">Confirmação de E-mail</a>

<br>
<p style="color: #242021;font-family: Helvetica;font-size: 0.875rem;font-style: normal;font-weight: 400;line-height: normal;">Sua conta não será ativada até que seu email seja confirmado</p>

<br>
<p style="color: #242021;font-family: Helvetica;font-size: 0.875rem;font-style: normal;font-weight: 400;line-height: normal;">Se você não se cadastrou no GVLar imoveis recentemente, por favor ignore este email</p>

<br>
<p style="color: #242021;font-family: Helvetica;font-size: 0.875rem;font-style: normal;font-weight: 400;line-height: normal;">Mensagem automatica não responder esse e-mail</p>
