<p>Oi, #{name}!</p>
<p>Você solicitou a recuperação de senha, por favor</p>
<p>clique no link abaixo</p>

<a href="#{id}">Link #{id}, #{number}</a>


<p>Se você não se solicitou a recuperação de senha no GVLar imoveis</p>
<p>recentemente, por favor entrege em contato</p>
