<p>Prezado(a) #{name}!</p>
<p>Esta mensagem é para confirmar que a senha da sua conta foi alterada com sucesso.</p>

<p>Se você realizou esta alteração, pode ignorar este e-mail.</p>

<p>Caso não tenha sido você a efetuar a mudança, por favor, entre em contato conosco imediatamente para garantir a segurança da sua conta.</p>
